.item {
    position: relative;
    border: 1px solid black;
}

.item .title{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item .links{
    position: absolute;
    right: 100%;
    top: 0;
    bottom: 0;
    width: 0;
    height: 100%;
    overflow: hidden;
    transition: .5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #008080 ;
}

.item:hover .links {
  right: 0;
  width: 100%;
}
