<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script th:src="@{/js/eventsFT.js}"></script>
    <link rel="stylesheet" th:href="@{/css/eventsFT.css}" />
    <script th:src="@{/js/nav.js}"></script>
    <link rel="stylesheet" th:href="@{/css/nav.css}" />
</head>
<body>
<div class="my-container">
    <div th:replace="fragments/navMenu.html"></div>
    <div class="content">
        <div class="ftcards">
            <div>
                <h1>Gen8</h1>
                <div class="cards" id="gen8">
                    <div class="card" th:each="pokemon, iterStat : ${gen8}"   th:if="${iterStat.index > 2}">
                        <div class="card-left">
                            <div class="card-image">
                                <img th:src="@{'https://www.serebii.net/swordshield/pokemon/' + ${pokemon[0]} + '.png'}" th:if="${pokemon[5] eq 'FALSE'}">
                                <img th:src="@{'https://www.serebii.net/Shiny/SWSH/' + ${pokemon[0]} + '.png'}" th:if="${pokemon[5] eq 'TRUE'}">
                            </div>
                        </div>
                        <div class="card-right">
                            <div class="card-header">
                                <h3 th:text="${pokemon[3]}"></h3>
                            </div>
                            <div class="card-body">
                                <div class="card-info">
                                    <div class="card-info-value" th:attr="data-title=${pokemon[2]}" th:text="${pokemon[2]}"></div>
                                    <div class="card-info-value" th:attr="data-title=${pokemon[13]}" th:text="${pokemon[13]}"></div>
                                    <div class="card-info-value" th:attr="data-title=${pokemon[15]}" th:text="${pokemon[15]}"></div>
                                    <div class="card-info-value" th:attr="data-title=${pokemon[16]}" th:text="${pokemon[16]}"></div>
                                    <div class="card-info-value" data-title="Discl." th:attr="onclick=|popup(${iterStat.index})|"  th:inline="text" th:if="${pokemon[17] != ''}">
                                        Discl.
                                        <span class="popup" th:attr="id=${iterStat.index}" data-title="${pokemon[17]}" th:utext="${pokemon[17]}"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">
    var gen8 = [[${gen8}]];
    console.log(gen8)

</script>



</body>
</html>
