<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script th:src="@{/js/nav.js}"></script>
    <link rel="stylesheet" th:href="@{/css/nav.css}" />
</head>
<body>

<div class="my-container">
    <div th:replace="fragments/navMenu.html"></div>
    <div class="content">

    </div>
</div>

<script th:inline="javascript">
    var gen8 = [[${gen8}]];
    var gen7 = [[${gen7}]];
    var shinyeggs = [[${shinyeggs}]];
    var shinymyths = [[${shinymyths}]];
</script>
</body>
</html>