<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/pokeft.css}" />
</head>
<body>

<div class="pokeft">
    <div class="item" onclick="myFunction()">hallo</div>
    <div class="item" onclick="myFunction()">hallo</div>

</div>

<span class="popuptext" id="myPopup">Popup text...</span>

<script>
// When the user clicks on <div>, open the popup
function myFunction() {
  var popup = document.getElementById("myPopup");
  popup.classList.toggle("show");
}
</script>
</body>
</html>