<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Pokemon</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script th:src="@{/js/nav.js}"></script>
    <link rel="stylesheet" th:href="@{/css/nav.css}" />
    <link rel="stylesheet" th:href="@{/css/pokemon.css}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap" rel="stylesheet">
</head>
</head>
<body>
<div class="my-container">
    <div th:replace="fragments/navMenu.html"></div>
    <div class="content">
        <div class="item">
            <div class="title"> FOR TRADE</div>
            <div class="links">
                <ul class="nav-ul">
                    <li class="nav-li"><a href="/" data-title="events">Events</a></li>
                    <li class="nav-li"><a href="pokemon" data-title="shinies">Shinies</a></li>
                </ul>
            </div>
        </div>
        <div class="item">
            <div class="title"> EVENTS </div>
            <div class="links">
                <ul class="nav-ul">
                    <li class="nav-li"><a href="/" data-title="my collection">My Collection</a></li>
                    <li class="nav-li"><a href="pokemon" data-title="farmed events">Farmed Events</a></li>
                </ul>
            </div>
        </div>
        <div class="item">
            <div class="title"> SHINIES </div>
            <div class="links">
                <ul class="nav-ul">
                    <li class="nav-li"><a href="/" data-title="my collection">My Collection</a></li>
                    <li class="nav-li"><a href="pokemon" data-title="others">Others</a></li>
                </ul>
            </div>
        </div>
        <div class="item">
            <div class="title"> POKEMON SV </div>
            <div class="links">
                <ul class="nav-ul">
                    <li class="nav-li"><a href="/" data-title="sammich recipes">Sammich Recipes</a></li>
                    <li class="nav-li"><a href="pokemon" data-title="raid drops">Raid Drops</a></li>
                    <li class="nav-li"><a href="pokemon" data-title="raid counter">Raid Counter</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

</body>
</html>