<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Pokemon</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/pokemon.css}" />
</head>
<body>
<div class="background-one">
    <div class="link-container">
        <a class="link-one" href="/for-trade">For Trade</a>
    </div>
</div>
<div class="background-two link-container">
    <a class="link-two" href="/farmed">Farmed</a>
</div>
<div class="background-three link-container">
    <a class="link-three" href="/personal-collection">Personal Collection</a>
</div>
</body>
</html>